<!-- Authentication for a user;
redirect here from index if not logged in-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeAccess Center &bull; Authentication</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css">
</head>
    <body>
        <!-- Auth Box -->
        <center>
            <!-- If an error in auth has occured -->
            {% if err != '0' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h6><i class="fas fa-exclamation-circle"></i> Uh-oh!</h6> <br>
                <p>Your credentials are most likely incorrect. If you're sure they're right, Home Access may be down.</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}

            <div class="auth-box">
                <form action="" method="post">
                    <h2 style="padding-top: 1em;"><i class="fas fa-sign-in-alt"></i> Authentication</h2>
                    <h4>Proceed using your Home Access credentials.</h4>

                    <div class="form-floating mb-1 auth" style="color:black;">
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username" style="margin-top: 5em;">
                        <label for="username">Username</label>
                    </div>
                    <div class="form-floating mb-1 auth" style="color:black;">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" style="margin-top: 2em;">
                        <label for="password">Password</label>
                    </div>
                    <div class="form-floating mb-1 auth-select auth input-group" style="color:black;">
                        <span class="input-group-text" id="basic-addon1">Grading Period</span>
                        <select name="gradingPeriod" id="gradingPeriod" class="form-control">
                            <!-- <option value="ALL">(All Runs)</option> -->
                            <option selected="selected" value="1-2023">1</option>
                            <option value="2-2023">2</option>
                            <option value="3-2023">3</option>
                            <option value="4-2023">4</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-outline-light" style="width: 10em; height: 3em; margin-top: 2em;"><i class="fas fa-sign-in-alt"></i> Proceed</button>
                </form>
            </div>
        </center>

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/de5215728b.js" crossorigin="anonymous"></script>
        <script>

        </script>
    </body>
</html>
