<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.png') }}" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API reference</title>
    <style>
        body {
            background-color: #212529;
            color: white;
        }
    </style>
</head>
<body>
    {% include 'inc/nav.html' %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <td>
                    Route
                </td>
                <td>
                    Method
                </td>
                <td>
                    Type
                </td>
                <td>
                    Description
                </td>
            </tr>
        </thead>
        <tbody>
            {% for ref in data %}
            <tr>
                <td>
                    {{ref[0]}}
                </td>
                <td>
                    {{ref[1]}}
                </td>
                <td>
                    {{ref[2]}}
                </td>
                <td>
                    {{ref[3]}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
