* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #212529;
    color: white;
}
/*
.auth-box {
    margin-top: 5em;
    border-color: white;
    border-style: solid;
    border-radius: 15%;
    width: 25em;
    height: 30em;
}
*/

.auth {
    width: 25%
}

@media only screen and (min-width: 600px) {
    .auth {
        width 75%
    }
} 

/* Specifically for class_item.html 
   used to display a certain class's
   basic info 
*/

div.scrollBox {
    overflow: auto;
}

.class-item {
    margin-top: 5em;
    border-color: white;
    border-style: solid;
    border-radius: 20%;
    width: 25em;
    height: 20em;
    padding-top: 1em;
}
